body{
        margin: 0 10%;
        display: grid;
        grid-template-areas: 
        "header "
        "main "
        "footer";
        grid-template-columns: 1fr;
        grid-gap: 20px;
        padding:20px;
        background-color: ghostwhite;
        ;
    }
    header, section, footer {
    padding: 20px;
    }
    header {
    background-color:  #343A40;
    color: white;
    }
    section {
    background-color: #F8F9FA;
    border-bottom: 1px solid #E1E1E1;
    }
    footer {
    background-color: #343A40;
    color: white;
    }